<!DOCTYPE html>
<html>
  <head>
    <title>Project</title>
<% if @project.jammit -%>
    <link rel="stylesheet" href="assets/app.css">
<% else -%>
    <link rel="stylesheet" href="stylesheets/style.css">
<% end -%>
  
  </head>
  <body>
    
    <h1>My Project</h1>
    
    <p>
      Lorem ipsum dolor sit amet, consectetur adipisicing elit, sed do
      eiusmod tempor incididunt ut labore et dolore magna aliqua. Ut enim ad
      minim veniam, quis nostrud exercitation ullamco laboris nisi ut
      aliquip ex ea commodo consequat. Duis aute irure dolor in
      reprehenderit in voluptate velit esse cillum dolore eu fugiat nulla
      pariatur. Excepteur sint occaecat cupidatat non proident, sunt in
      culpa qui officia deserunt mollit anim id est laborum.
    </p>
    
<% if @project.jammit -%>
    <script src="assets/app.js"></script>
<% else -%>
<% @project.js_assets.each do |js| -%>
    <script src="javascripts/<%=js %>"></script>
<% end -%>
<% end -%>  
  </body>
</html>