<!DOCTYPE html>
<html>
<head>
  <title>Jasmine Test Runner</title>
  <link rel="stylesheet" type="text/css" href="lib/jasmine-1.3.1/jasmine.css">
  <script type="text/javascript" src="lib/jasmine-1.3.1/jasmine.js"></script>
  <script type="text/javascript" src="lib/jasmine-1.3.1/jasmine-html.js"></script>
  <% if @project.uses_jquery? -%>
  <script type="text/javascript" src="lib/jasmine-jquery.js"></script>
  <% end -%>
  <!-- include source files here... -->
  <% if @project.jammit -%>
  <script src="../public/assets/app.js"></script>
  <% else -%>
  <% @project.js_assets.each do |js| -%>
  <script src="../public/javascripts/<%=js %>"></script>
  <% end -%>
  <script src="../public/javascripts/app.js"></script>
  <% end -%>
  <!-- include spec files here... -->
  <script type="text/javascript" src="sampleSpec.js"></script>
  
  <!-- Jasmine runner -->
  <script type="text/javascript">
    (function() {
      var jasmineEnv = jasmine.getEnv();
      jasmineEnv.updateInterval = 1000;

      var htmlReporter = new jasmine.HtmlReporter();

      jasmineEnv.addReporter(htmlReporter);

      jasmineEnv.specFilter = function(spec) {
        return htmlReporter.specFilter(spec);
      };

      var currentWindowOnload = window.onload;

      window.onload = function() {
        if (currentWindowOnload) {
          currentWindowOnload();
        }
        execJasmine();
      };

      function execJasmine() {
        jasmineEnv.execute();
      }

    })();
  </script>
</head>
<body>
  
</body>
</html>
